.chat-box{
	width:164px;
	height:40px;
	text-align:center;
	background:#fff;
	position:absolute;
    top: -55px;
    right: 0.8rem;
	border: solid 2px #333;
}
/*箭頭下*/
.chat-box .arrow_b_int{
	width:0px;
	height:0px;
	border-width:11px;
	border-style:solid;
	border-color:#333 transparent transparent transparent ;
	position:absolute;
	bottom:-22px;
	right:40%;
}
/*箭頭下-邊框*/
.chat-box .arrow_b_out{
	width:0px;
	height:0px;
	border-width:11px;
	border-style:solid;
	border-color:#fff transparent transparent transparent ;
	position:absolute;
	bottom:-20px;
	right:40%;
}