.hover-active{
    &:hover{
        .hover-text{
            color:$primary ;
        }
    }
}



@include media-breakpoint-up(lg) {
.hover-active{
    position: relative;
    &::before{
        content:"";
        font-family: 'Kalam', cursive;
        width: 11px;
        height: 2px;
        background-color: $primary;
        position: absolute;
        left: -2%;
        bottom: 55%;
        z-index: 9;
        display: none;
    }
    &:hover{
        .hover-text{
            color:$primary ;
            transform: translateX(20px);
            transition: transform 0.3s;
        }
        &::before{
            display: block;
            transform: translateX(20px);

        }
    }
}
}